h1,
.jumbotron {
  text-align: center;
}

h1 {
  margin-top: 25px;
}

.jumbotron {
  background-color: #F2FdFF
}

.centerEle {
  justify-content: center;
  align-items: center;
}

.input-small {
  width: 80px;
}

#checkout {
  margin-bottom: 1rem;
}

.formRow {
  margin-bottom: 25px;
}

#totalHrs {
  color: green;
  font-weight: bold;
}

#viewRecords {
  font-size: 1.15rem;
  margin-left: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

#viewRecords:hover {
  color: darkorange;
}