h1,
.jumbotron {
  text-align: center;
}

h1 {
  margin: 1rem 1rem;
  color: #EACD76;
}

.jumbotron {
  background-color: #D4f2e7;
  background-image: url(../img/background.png);
  border-radius: 3rem;
}

.jum2 {
  background-color: #D2F0F4;
}

.centerEle {
  justify-content: center;
  align-items: center;
}

.input-small {
  width: 80px;
}

#checkout,
#checkoutByHr,
#addOvertime {

  background-color: #177cB0
}

#checkout {
  margin-bottom: 1rem
}

.formRow {
  margin-bottom: 25px;
}

#totalHrs {
  color: #057748;
  font-weight: bold;
}

#viewRecords {
  font-size: 1.15rem;
  margin-left: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
  color: #065279;
}

#viewRecords:hover {
  color: #a76e44;
}

.hrSpan {
  right: 1.5rem;
  position: absolute;
}

.redAlert,
.greenAlert,
.yellowAlert,
.customAlert {
  z-index: 99999;
  position: fixed;
  width: 30%;
  left: 35%;
}

body {
  background-image: url(../img/background.png);
  background-color: #3d3b4f;
}